body {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #f1f1f1;
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* Adicionado box-shadow para criar sombra */
    padding: 10px;
}
.descriçao{
    background-color: rgb(27, 202, 100);
    border-color: black;
    margin-top: 10px;
    font-size: larger;
    color: white;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0%;
    position: relative; 
}
p{
    align-items: center;
    justify-content: center;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
}

.toggle-button {
    margin-top: -50px;
    font-size: 24px;
    cursor: pointer;
}

.sidenav {
    width: 200px;
    background-color: #f1f1f1;
    height: 100vh;
    position:fixed;
    top: 50px;
    right: -200px;
    /* Alterado para abrir no lado direito */
    transition: right 0.3s;
    /* Alterado para o efeito de transição adequado */
    overflow-x: hidden;
    z-index: 998;
}

.sidenav a {
    display: block;
    padding: 16px;
    text-decoration: none;
    color: #000;
}

.sidenav a:hover {
    background-color: #ddd;
}

.logo {
    max-width: 100px;
    height: auto;
    margin-top: -22px;
}

.active {
    left: unset;
    right: 0;
}

/* Estilo para a seção principal */
main {
    background: url("../Site_RedPlus/images/fundo.png") no-repeat center center;
    background-size: cover;
    height: 92vh;
    margin-top: 10vh;
}

/* Estilo para o select lista dos anos da Redação */
select {
    margin-left: 350px;
    margin-top: 50px;
    width: 300px;
    text-align: center;
}

.card {
    width: 30px;
    height: 80px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    padding: 16px;
}

#nome {
    width: 200px;
    height: 30px;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 5px;
}

#mensagem {
    color: green;
    margin-left: 200px;
}

#botao{
    color:#000;
    background-color: green;
    border-radius: 20px;
}

/*estilo dos temas*/
.container-fluid{
    background-color: rgb(27, 202, 100);
    border-color: black;
    margin-top: 10px;
    font-size: larger;
    color: white;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0%;
    position: relative;  
}
.corpo{
    margin-top: 85px; 
    background-color: #f1f1f1;
}

/*estilo da area do aluno*/

.align-items {
    display: inline-flex;
    align-items: center;
    margin-left: 9%; 
  }
  .align-items__text {
    margin-left: 3px; /* ajuste conforme necessário */
    font-size:30px;
    margin-top: 10px;
  }
  .container-md{
    background-color:white;
    border-color: black;
    margin-top: 10px;
    font-size: larger;
    color: black;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0%;
    position: relative;  
  }
  button{
    justify-content: end;
  }
.video-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-right: 2%;
    margin-left: 2%;
}
   
  

